<<<<<<< HEAD
.OGcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}
.projectimg{
  width: 75%;
  height: auto;
  margin-left: 20px;
  border-radius: 5px;
}
.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(40, 85, 140);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}
=======
*{
    margin: 0;
    padding: 0;
    
   
}
body{
    background-image: url(image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    


}
nav{
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
#logo{
    width: 100px;
    color: rgb(214, 214, 233);
    /* background-color: white; */
    display: flex;

}
.right{
    color: aliceblue;
}
nav ul{
    /* display: flex; */
    /* float: right; */
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    color: blue;
    display:inline-block;
    /* list-style: none; */
    margin: 0px 23px;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    text-decoration: none;
    color: rgb(152, 152, 238);
    font-size: 1.1rem;
}

.right {
    font-size: 1.75rem;
}
main hr{
    border: 0px;
    background: #9c97f1;
    height:1.2px;
    margin: 40px 84px;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

.first>div {
    width: 30%;
}

.leftsection img {
    width: 80%;
    /*margin: 48px 0px;
*/
}
#element {
    color: rgb(241, 241, 240);
}
#white{
    color: rgb(247, 244, 240);
}
.rightsection {
    color: rgb(134, 219, 199);
    font-size: 3rem;

}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0px 23px; /*Important for vertical align on mobile phones*/
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  footer {
    padding-top: 40px;
    /* padding-bottom: 20px; */
    background-color: #343a40;
}

footer h5 {
    margin-bottom: 20px;
    font-weight: bold;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .social-icons a {
    font-size: 1.5rem;
    margin-right: 10px;
}

footer .social-icons a:hover {
    color: #007bff;
}
.nav-search:hover{
    border: 2.5px solid rgb(91, 139, 243);
    border-radius: 8px;
    
}
.nav-search{
    width: 25%;
    height: 40px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sel{
    width: 45px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    height: 40px;
}
.input{
    width: 100%;
    font-size: 1rem;
    border: none;
    height: 40px;
}
.search-icon{
    width:45px ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(135, 125, 247);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
}
#loginbutton{
    color: #007bff;
    background-color: white;
    border: 2px solid #007bff;
    padding: 10px;
    border-radius: 19px;
}
#loginbutton:hover{
    background-color:#007bff ;
    color: white;
}
footer{
    color: white;
   
}
footer span{
    margin: auto;
    

}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: aliceblue;
    padding: 14px;
    padding-bottom: 0px;
    margin-top: 30.6%;
    background-color: black;
}

.footeritem{
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    gap: 23px;

}

.footer a{
    text-decoration: none;
    color: beige;
    font-size: 15px;
}
#services{
  display: flex;
  flex-direction: column;
}
.secondsection{
  font-size: 40px;
  margin-left: 20vh;
  display: flex;
  color: white;
}

/* From Uiverse.io by alexruix */ 
.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin-left: 10vw;
  margin-top: 40px;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 #servicecards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }
 #space{
  height: 20vh;}
  /* From Uiverse.io by Yaya12085 */ 
.container {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  margin-left: 10%;
  background-color: #cbdaee;
  float: left;
}

.header {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: black;
}

.foot {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.foot svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.foot p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}
#upload{
  color: white;
  font-size: 40px;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#code{
  height: 55vh;
  width: auto;
  float: right;
  margin-right: 10%;
  border-radius: 10px;
}
 /* section{
  background-color: rgb(57, 111, 150);
 } */
 